# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.
/node_modules

# Node
/node_modules

# IDEs and editors
.idea/

# Visual Studio Code
.vscode/*

# Miscellaneous
/.angular
