<div class="container mx-auto px-4 py-8">
    <h1 class="text-2xl font-bold mb-4">Todo List</h1>

    <div class="mb-4">
        <input type="text" class="border p-2 rounded w-full" placeholder="Add a new task" [(ngModel)]="newTodo"
            (keyup.enter)="addTodo()">
    </div>

    <h2>Todo</h2>
    <ul>
        @for (todo of todos; track $index) {
            <li [class.completed]="todo.completed">
                <input type="checkbox" [(ngModel)]="todo.completed"> {{ todo.title }} | created at {{ todo.createdAt | date: 'short' }}
                <button (click)="removeTodo($index)">Delete</button>
            </li>
        }
    </ul>
</div>