@defer (on timer(3s)) {
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    @for (pokemon of pokemons; track $index) {
    <div class="bg-white rounded-lg shadow-md overflow-hidden">
        <div class="px-4 py-3">
            <h3 class="text-lg font-bold">{{ pokemon.name }}</h3>
            <img [src]="pokemon.sprite" alt="Image de {{ pokemon.name }}">
            <div class="mt-2 flex justify-between items-center">
                <span class="text-gray-500 font-medium">PokedexId : {{ pokemon.pokedexId }}</span>
                <span class="text-gray-500 font-medium">Type : {{ pokemon.apiTypes | json }}</span>
            </div>
            <div class="mt-2 flex justify-between items-center">
                <span class="text-gray-500 font-medium">Attack : {{ pokemon.stats.attack }}</span>
                <span class="text-gray-500 font-medium">Defend : {{ pokemon.stats.defense }}</span>
            </div>
        </div>
    </div>
    } @empty {
        A pas de pokemons
    }
</div>
}
@placeholder {
    <div class="flex items-center justify-center h-screen">
        <div class="bg-white p-5 rounded-lg shadow-lg">
            <div class="animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-blue-500"></div>
            <p class="mt-4 text-center text-gray-500">Loading...</p>
        </div>
    </div>
}